---
const url = 'https://www.pointcloudsp.com';
const target = '_blank';
const employer = 'Pointcloud';
---
<p id="bio-headline">Certified cloud architect and hands-on technical leader at <a href={`${url}`} target={`${target}`}>{employer}</a></p>
