---
import HeadlineDlResume from '../components/HeadlineDownloadResume.astro';
import HeadlineEmail from '../components/HeadlineEmail.astro';
---
<section class="section--split">
    <div>
        <table class="table--contact-info">
            <tr class="tr--contact-info">
                <td class="td--headline-contact-info td--headline-contact-info-lhs">
                    <HeadlineEmail/>
                </td>
                <td class="td--headline-contact-info td--headline-contact-info-rhs no-print">
                    <HeadlineDlResume/>
                </td>
            </tr>
        </table>
    </div>
</section>