---
const url = 'https://www.kforce.com';
const target = '_blank';
const employer = 'Kforce';
---
<p id="bio-headline">Cloud Solutions Director at <a href={`${url}`} target={`${target}`}>{employer}</a> and fullstack web development instructor</p>
