<table class="table--techstack">
    <tr>
        <td class="td-tech-stack-row-header">
            Languages
        </td>
        <td class="td--card--techstack">
            <div>
                <span class="card--techstack">JavaScript</span>
                <span class="card--techstack">Python</span>
                <span class="card--techstack">Swift</span>
                <span class="card--techstack">TypeScript</span>
                <span class="card--techstack">NodeJS</span>
                <span class="card--techstack">Deno</span>
                <div class="hr--card--techstack-sep"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-tech-stack-row-header">
            Frameworks
        </td>
        <td class="td--card--techstack">
            <div>
                <span class="card--techstack">React</span>
                <span class="card--techstack">Vue3</span>
                <span class="card--techstack">Astro</span>
                <span class="card--techstack">Fresh</span>
                <span class="card--techstack">Remix</span>
                <span class="card--techstack">Next JS</span>
                <div class="hr--card--techstack-sep"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-tech-stack-row-header">
            Data Integration
        </td>
        <td class="td--card--techstack">
            <div>
                <span class="card--techstack">NodeJS</span>
                <span class="card--techstack">Deno</span>
                <span class="card--techstack">MongoDB</span>
                <span class="card--techstack">MySQL</span>
                <span class="card--techstack">SQLite</span>
                <span class="card--techstack">AzureSQL</span>
                <div class="hr--card--techstack-sep"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-tech-stack-row-header">
            Cloud
        </td>
        <td class="td--card--techstack">
            <div>
                <span class="card--techstack">Kubernetes</span>
                <span class="card--techstack">Docker</span>
                <span class="card--techstack">Microservices</span>
                <span class="card--techstack">Azure</span>
                <span class="card--techstack">GCP</span>
                <span class="card--techstack">AWS</span>
                <span class="card--techstack">OpenStack</span>
            </div>
        </td>
    </tr>
</table>