---
const { heading, body } = Astro.props;
---
<p>{heading}</p>
<div class="td--card--techstack">
    {
        body.split('\n').map((b:any)=>(
            <span class={b ? "card--techstack" : ""}>{b}</span>
        ))
    }
</div>