---
---
<div class="card--work-history">
    <table class="table-work-history-header">
        <tr>
            <td class="td-work-history-title">
                <strong>Practice Director</strong>
            </td>
            <!-- <td class="td-work-history-employer">
            </td> -->
            <td class="td-work-history-from-to-dates">
                June 2022 - Present
            </td>
        </tr>
        <tr>
            <td class="td-work-history-employer">
                <a aria-label="Kforce" aria-disabled="false" target="_self" href="https://www.kforce.com">
                    <img id="img-logo-job-kforce" src="./assets/logos/Kforce_SM_FullColor_1000px.png">
                    <!-- Kforce -->
                </a>
            </td>
        </tr>
    </table>
    <div class="line-break"></div>
    <table class="table--work-experience">
        <tr class="tr--work-experience">
            <td class="td-work-history-summary">
                <p>Cloud solutions architecture, design and planning for Kforce clients</p>
            </td>
        </tr>
        <tr class="tr--work-experience">
            <td class="td--work-history--bullets">
                <ul class="ul--work-history--bullets">
                    <li>Develop program plans and proposals</li>
                    <li>Architect and design client solutions based on AWS, Azure and GCP</li>
                    <li>Kubernetes, containerization, and microservices</li>
                    <li>Enterprise automation, DevOps and CI/CD</li>
                </ul>
            </td>
        </tr>
    </table>
</div>