---
---
<div class="card--work-history">
    <table class="table-work-history-header">
        <tr>
            <td class="td-work-history-title">
                <strong>Lead Developer</strong>
            </td>
            <!-- <td class="td-work-history-employer">
            </td> -->
            <td class="td-work-history-from-to-dates">
                1998 - 2005
            </td>
        </tr>
    </table>
    <table class="table-work-history-header-row-2">
        <tr>
            <td class="td-work-history-employer-logo">
                <a href="https://www.capgemini.com">
                    <img id="img-logo-job-0" src="./assets/logos/cg.svg">
                </a>
            </td>
            <td class="td-work-history-employer-name">
                <a href="https://www.capgemini.com">
                    Capgemini
                </a>
            </td>
        </tr>
    </table>
    <div class="line-break"></div>
    <table class="table--work-experience">
        <tr class="tr--work-experience">
            <td class="td-work-history-summary">
                <p>Lead developer in Wireless and Wireline Telecom, providing sales and pre/post-sales
                    engineering support</p>
            </td>
        </tr>
        <tr class="tr--work-experience">
            <td class="td--work-history--bullets">
                <ul class="ul--work-history--bullets">
                    <li>Broadband Subscriber Management & Migration Platform</li>
                    <li>Oracle-based subscriber self-service portal for Broadband Services</li>
                    <li>J2EE Wireless Number Porting Platform</li>
                    <li>Several OLAP Big Data solutions using Oracle and SQL Server</li>
                    <li>Developed proof of concept and live product demos</li>
                </ul>
            </td>
        </tr>
    </table>
</div>