---
import HeadlineBio from "../components/HeadlineBio.astro";
import HeadlineDlResume from '../components/HeadlineDownloadResume.astro';
import HeadlineEmail from '../components/HeadlineEmail.astro';
import SvgGithub from '../components/assets/SvgGithub.astro';
import SvgLinkedin from '../components/assets/SvgLinkedin.astro';
import SvgTwitter from '../components/assets/SvgTwitter.astro';

const HEADLINE_NAME = "Jonathan Roll"; 

---
<div id="resume-header">
    <section id="wrapper--hero" class="section--page">

        <img id="profile-pic" src="./assets/images/professional/atMuellerLakeMedium.jpg">

        <div>
            <!-- <h1 id="name-headline"></h1> -->
            <h1 id="name-headline">{HEADLINE_NAME}</h1>
            <div class="line-break"></div>
            <HeadlineBio />
            <!-- </div> -->
            <div class="line-break"></div>

            <!-- </section> -->

            <!-- <section class="section--page"> -->
            <div id="socials--list">
                <table class="table--socials">
                    <tr class="tr--socials">
                        <td class="td--socials-logo">
                            <a href="https://github.com/jrollio" target="_blank" class="social--logo-a">
                                <!-- <div class="social--logo-svg-container-github"> -->
                                <div>
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="-13 -16 29 29" class="social--logo-github"> -->
                                    <SvgGithub/>
                                </div>
                            </a>
                        </td>
                        <td class="td--socials-logo">
                            <a href="https://www.linkedin.com/in/jroll/" target="_blank" class="social--logo-a">
                                <SvgLinkedin/>
                            </a>
                        </td>
                        <td class="td--socials-logo">
                            <a href="https://twitter.com/jrollio" target="_blank" class="social--logo-a">
                                <!-- <div class="social--logo-svg-container"> -->
                                <div>
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="-24 -27 46 50" aria-hidden="true" class="social--logo"> -->
                                    <SvgTwitter/>
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
                <table class="table--socials-row-2">
                    <tr>
                        <td class="td--socials-name">
                            <a href="https://github.com/jrollio" target="_blank" class="social--logo-a-text">
                                Github
                            </a>
                        </td>
                        <td class="td--socials-name">
                            <a href="https://www.linkedin.com/in/jroll/" target="_blank"
                                class="social--logo-a-text">
                                LinkedIn
                            </a>
                        </td>
                        <td class="td--socials-name">
                            <a href="https://twitter.com/jrollio" target="_blank" class="social--logo-a-text">
                                Twitter
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <table class="table--contact-info">
                <tr class="tr--contact-info">
                    <td class="td--headline-contact-info td--headline-contact-info-lhs">
                        <HeadlineEmail/>
                    </td>
                    <td class="td--headline-contact-info td--headline-contact-info-rhs">
                        <HeadlineDlResume/>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>
