---
import WorkhistoryKforce from "../components/WorkhistoryKforce.astro";
import WorkhistoryATT from "../components/WorkhistoryATT.astro";
import WorkhistoryCg from "../components/WorkhistoryCg.astro";
---
<section id="work-history-wrapper" class="section--page">

    <h2 class="section-heading--h2">Experience</h2>

    <div class="line-break"></div>

    <WorkhistoryKforce/>
    <WorkhistoryATT/>
    <WorkhistoryCg/>

</section>