--- 
import ResumeHeader from './resumeHeader.astro';
import ResumeSummary from './resumeSummary.astro';
import ResumeTechstack from './resumeTechstack.astro';
import ResumeWorkhistory from './resumeWorkhistory.astro';
import ResumeAccomplishments from './resumeAccomplishments.astro';
import ResumeEducation from './resumeEducation.astro';
---
<main>
	<div id="container--main">
		<ResumeHeader/>
		<ResumeSummary sectitle="Summary"/>
		<ResumeWorkhistory sectitle="Experience"/>
		<ResumeAccomplishments sectitle="Certifications"/>
		<ResumeTechstack sectitle="&nbsp;Technical Expertise&nbsp;"/>
		<ResumeEducation sectitle="Education"/>
	</div>
</main>