<section class="section--page">

    <h2 class="section-heading--h2">Summary</h2>
    <div class="line-break"></div>
    <ul id="qualifications--list">
        <li>✔️ 20+ years in software architecture, design, and integration</li>
        <li>✔️ 15 years delivering fullstack automation solutions</li>
        <li>✔️ API integration, ORM, Database design and architecture</li>
        <li>✔️ Agile/Scrum <a aria-label="Agile Scaled Framework and Agile Release Train methdologies"
                aria-disabled="false" target="_self" href="https://scaledagile.com">SAFe/ART</a>, DevOps & CI/CD
            best practices</li>
    </ul>

</section>
