--- 
import BaseHead from '../components/BaseHead.astro';
import ResumeHeader from './resumeHeader.astro';
import ResumeSummary from './resumeSummary.astro';
import HeadlineBio from '../components/HeadlineBio.astro';
import HeaderLink from '../components/HeaderLink.astro';
import ResumeTechstack from './resumeTechstack.astro';
import ResumeWorkhistory from './resumeWorkhistory.astro';
import ResumeAccomplishments from './resumeAccomplishments.astro';
import ResumeEducation from './resumeEducation.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div id="container--main">
			<ResumeHeader/>
			<ResumeSummary/>
			<ResumeTechstack/>
			<ResumeWorkhistory/>
			<ResumeAccomplishments/>
			<ResumeEducation/>
		</div>
	</body>
</html>
