--- 
import ResumeHeader from './resumeHeader.astro';
import ResumeSummary from './resumeSummary.astro';
import ResumeTechstack from './resumeTechstack.astro';
import ResumeWorkhistory from './resumeWorkhistory.astro';
import ResumeAccomplishments from './resumeAccomplishments.astro';
import ResumeEducation from './resumeEducation.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<main>
	<div id="container--main">
		<ResumeHeader/>
		<ResumeSummary/>
		<ResumeTechstack/>
		<ResumeWorkhistory/>
		<ResumeAccomplishments/>
		<ResumeEducation/>
	</div>
</main>