---
import TableTechstack from "../components/TableTechstack.astro";
---


<section class="tech-stack-section--page">

    <h2 class="section-heading--h2">&nbsp;Technology Stack&nbsp;</h2>
    <div class="line-break"></div>

    <div class="card--generic">
        <div id="wrapper--techstack__items">
            <TableTechstack />
        </div>

    </div>

</section>