---
import TableTechstack from "../components/TableTechstack.astro";
const { sectitle } = Astro.props;
---


<section class="tech-stack-section--page">

    <h2 class="section-heading--h2">{sectitle}</h2>
    <div class="line-break"></div>

    <div class="card--generic">
        <div id="wrapper--techstack__items">
            <TableTechstack />
        </div>

    </div>

</section>