---
import HeadlineBio from "../components/HeadlineBio.astro";
import HeadlineContactInfo from '../components/HeadlineContactInfo.astro';
import LayoutSocials from '../components/LayoutSocials.astro';

const HEADLINE_NAME = "Jonathan Roll"; 
---
    <section id="wrapper--hero" class="section--page">

        <img id="profile-pic" src="./assets/images/professional/atMuellerLakeMedium.jpg">

        <div>
            <h1 id="name-headline">{HEADLINE_NAME}</h1>
            <div class="line-break"></div>
            <HeadlineBio />
        </div>
    </section>
    
    <div class="line-break"></div>
    <HeadlineContactInfo/>
    <LayoutSocials/>
    <div class="line-break"></div>
