---
import Education from '../components/Education.astro';
---
<section class="section--page">
    <h2 class="section-heading--h2">Education</h2>

    <div class="line-break"></div>
    <div class="card--generic">
        <Education/>
    </div>
</section>