---
import Workhistory from '../components/Workhistory/Workhistory.astro';
const { sectitle } = Astro.props;
---
<section id="work-history-wrapper" class="section--page print-break-before">

    <h2 class="section-heading--h2">{sectitle}</h2>

    <div class="line-break"></div>
    
    <Workhistory/>

</section>