@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
    
    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor:var(--mainBgColor-dark);

}


*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    
}

body{
    background-color: var(--mainBgColor);            
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}




/* IDs */
#bio, a{
    font-weight: 300;
}
#container--main{
    max-width: 730px;
    margin: 0 auto;
    padding: 1em;
}

#email{
    color: var(--mainTextColor);
}
#img-logo-job-kforce{
    inline-size: 50%;
    padding: 0 2%;
}


#profile-pic{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transform: rotate(-12deg);
    margin: -12% 0 0 0;
}
#qualifications--list{
    list-style: none;
}
/*
#section--page--print-header *{
    display: none;
    visibility: collapse;
}
.section--page--print-header *{
    display: none;
    visibility: collapse;
}
*/
#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover{
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
}
#user-name{
    font-size: 48px;
    line-height: 1em;
}
#work-history-wrapper{
    width: 100%;
}
#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
    vertical-align: top;
    padding: 0 0 0 0;

}



#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}


/* Classes */
.card--boxlist{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    margin: 0 0 0 5%;
    align-items: center;
    width: 88%;
    display: inline-block;
}
.card--education{
    padding-top: 1.5em;
    line-height: 1px;
}
.card--generic{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: .5em;
    margin-bottom: .5em;
    padding-left: 1em;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
    color: var(--secondaryTextColor);

}

.card--project a{
    color: var(--mainTextColor);

    transition: 0.3s;
}

.card--project a:hover{
    color: rgb(30, 190,214);
}
.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    display: inline-block;
    align-items:center;
    margin: 0.25em;
}
.card--techstack-bottom-border{
    background-color: var(--mainBorderColor);
    height: 1px;
}
.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}


.hr--card--techstack-sep{
    border-bottom: 2px solid var(--mainBorderColor);
    color: var(--mainBorderColor);
    overflow: visible;
    text-align: center;
    height: 1px;
    margin: 2% 0 2% 0;
}

.img--tech-stack-language{
    inline-size: 5%;
}
.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.p--education{
    line-height: 1px;
}
.no-screen *{
    display: none;
}
.section-heading--h2{
    line-height: 0.5em;
}
.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

.social--logo{
    inline-size: 30%;
    fill: currentColor;
    margin-top: -1rem;
    padding-top: 2px;
}
.social--logo-a{
    /* display: none; */
    font-size:xx-small;
    /* font-weight:unset; */
    line-height: 0.1em;
}
.social--logo-a-text{
    line-height: .2rem;
    vertical-align: top;
}
.social--logo-github{
    inline-size: 22%;
    fill: currentColor;
    /* margin-top: -1.3rem; */
    /* padding-top: 2px; */

}
.social--logo-twitter{
    inline-size: 16%;
    fill: currentColor;
    margin-top: 0.6rem;
    /* padding-top: 1px; */
    /* padding-top: 8px; */

}
.social--logo-svg-container{
    width: 85%;
    height: 85%;
}

.table--contact-info{
    width: 100%;
    height: 25%;
}
.table--socials{
    width: 100%;
    height: 50%;
    line-height: 0.5rem;
}
.table--socials-row-2{
    width: 100%;
    height: 25%;
    line-height: 0.5rem;
}
.table--techstack{
    margin: 0 8% 0 0;
}
.table--work-experience{
    width: 100%;
}
.table-work-history-header{
    width: 100%;
    line-height: 0.8em;
}
.table-work-history-header-row-2{
    width: 100%;
    line-height: 0.2rem;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.td--card--techstack{
    padding: 0 10% 0 2%;
    text-align: center;
}

.td--headline-contact-info *{
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.td--headline-contact-info-lhs{
    text-align: left;
    width: 60%;
}
.td--headline-contact-info-rhs{
    text-align: right;
    width: 40%
}
.td--socials-logo{
    width: 25%;
    text-align: center;
    vertical-align: middle;
    line-height: .2rem;
    margin: 0%;
    padding: 0%;
}
.td--socials-name{
    width: 25%;
    text-align: center;
}

.td-tech-stack-row-header{
    width: 25%;
    text-align: right;
    vertical-align: top;
    padding: 0.5% 2% 0 0;
    font-size: large;
}

.td-work-history-employer{
    width: 30%;
    text-align:left;
}
.td-work-history-employer-logo{
    width: 6%;
    padding: 0 1%;
}
.td-work-history-employer-name{
    /* width: 20%; */
    text-align:left;
    vertical-align: text-top;
    padding: 1% 0;
}
.td-work-history-from-to-dates{
    /* width: 30%; */
    text-align: right;
}
.td-work-history-summary{
    width: 100%;
    margin-left: .5em;
    text-align: left;
}
.td-work-history-title{
    width: 40%;
    text-align: left;
}

.tech-stack-section--page{
    padding-top: .5em;
}

.tr--contact-info{
    line-height: 0.5rem;
    height: 25%;
}
.tr--socials{
    line-height: 0.5rem;
    height: 25%;
}
.ul--boxlist{
    list-style: none;
}




@media (prefers-color-scheme:light){
    :root{
        --mainTextColor:var(--mainTextColor-light);
        --secondaryTextColor:var(--secondaryTextColor-light);
        --mainLinkColor:var(--mainLinkColor-light);
        --mainBorderColor:var(--mainBorderColor-light);
        --mainBgColor:var(--mainBgColor-light);
    }
}



@media(max-width:600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero{
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
        margin: 0 0 0 0;
    }

    #wrapper--hero{
        flex-direction: column;
    }

    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
}


/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_paged_media */
    /* https://developer.mozilla.org/en-US/docs/Web/API/CSSPageRule */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/page */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/@media */

/* @page { */
@media print {

    *{
        color: var(--mainTextColor-light);
        font-weight: 300;
    }
    body{
        background-color: var(--mainBgColor-light);            
    }
    p, span, li{
        color: var(--secondaryTextColor-light);
    }
    a{
        text-decoration: none;
        color: var(--mainLinkColor-light);
        /* font-weight: 500; */
    }
    /* li{
        line-height: 1.0em;
    } */

    #email{
        color: var(--mainTextColor-light);
    }
    
    #socials--list a{
        color: var(--secondaryTextColor-light);
        /* margin: -20% inherit inherit inherit;
        padding: -20% inherit inherit inherit; */
        /* margin: 0 0 0 0; */
        /* padding: 0 0 0 0; */
        vertical-align: top;
    }
    
    #socials--list a:hover{
        color: var(--mainLinkColor-light);
    }

    .no-print *{
        display: none;
    }
    .no-screen *{
        display: unset;
    }
    /* margin & padding */
    /* top | right | bottom | left */
    /*
    p
    ,.table--work-experience
    ,.tr--work-experience
    , .td-work-history-summary{
        line-height: 0.8em;
    }

    .td--work-history--bullets{
        line-height: 0.8em;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    .section--page *{
        line-height: 0.8em;
        margin: 0 1% 0 2%;
        padding: 0 1px 0 2px;
    }
    p
    ,.table--work-experience
    ,.tr--work-experience
    , .td-work-history-summary{
        line-height: 0.8em;
    }
    .ul--work-history--bullets{
        line-height: 0.8em;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        margin: 0 1% 0 2%;
        padding: 0 1px 0 2px;

    }
    */

/*
    .section--page *{
        display: block;
        line-height: 0.8em;
        margin: 0 1% 0 4%;
        padding: 0 3px 0 3px;
        line-height: 1.1em;

    }
    */
    /*
    #section--page--print-header{
        display:block;
    }
    .section--page--print-header{
        display:block;
    }
    */
  }
  @media print {
    @page {
        margin-left: 0.8in;
        margin-right: 0.8in;
        margin-top: 0;
        margin-bottom: 0;
      }
    /* #profile-pic{
        visibility: collapse;
    } */
    /* #wrapper--hero{
        visibility: collapse;
    } */
}

